# Projeto Python IA: Inteligência Artificial e Previsões

### Case: Score de Crédito dos Clientes

Você foi contratado por um banco para conseguir definir o score de crédito dos clientes. Você precisa analisar todos os clientes do banco e, com base nessa análise, criar um modelo que consiga ler as informações do cliente e dizer automaticamente o score de crédito dele: Ruim, Ok, Bom

In [12]:
#importar base de dados




import pandas as pd

table=pd.read_csv("clientes.csv")
display(table)

#preparar base de dados para a IA (pandas, scikit-learn)

display(table.info()) #mostrar infomacoes da table

#profissoes
    #mecanico 1, professor 2, artista 3, advogado 4, medico 5, bombeiro 6, policial 7

#label encoder(transf textos em numeros)
from sklearn.preprocessing import LabelEncoder

codificador=LabelEncoder()

table["profissao"]=codificador.fit_transform(table["profissao"]) #transf as profissoes em numeros



#mix_credito
codificador2=LabelEncoder()

table["mix_credito"]=codificador2.fit_transform(table["mix_credito"])

#comportamento_pagamento

codificador3=LabelEncoder()
table["comportamento_pagamento"]=codificador3.fit_transform(table["comportamento_pagamento"])

display(table.info())

       id_cliente  mes  ...  emprestimo_credito emprestimo_estudantil
0            3392    1  ...                   1                     0
1            3392    2  ...                   1                     0
2            3392    3  ...                   1                     0
3            3392    4  ...                   1                     0
4            3392    5  ...                   1                     0
...           ...  ...  ...                 ...                   ...
99995       37932    4  ...                   0                     1
99996       37932    5  ...                   0                     1
99997       37932    6  ...                   0                     1
99998       37932    7  ...                   0                     1
99999       37932    8  ...                   0                     1

[100000 rows x 25 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id_cliente                100000 non-null  int64
 1   mes                       100000 non-null  int64
 2   idade                     100000 non-null  float64
 3   profissao                 100000 non-null  object
 4   salario_anual             100000 non-null  float64
 5   num_contas                100000 non-null  float64
 6   num_cartoes               100000 non-null  float64
 7   juros_emprestimo          100000 non-null  float64
 8   num_emprestimos           100000 non-null  float64
 9   dias_atraso               100000 non-null  float64
 10  num_pagamentos_atrasados  100000 non-null  float64
 11  num_verificacoes_credito  100000 non-null  float64
 12  mix_credito               100000 non-null  object
 13  divida_total              100000 non-null  float64
 14  taxa_uso_credito          100000 non-null  float64
 15  idade_historico_credito   100000 non-null  float64
 16  investimento_mensal       100000 non-null  float64
 17  comportamento_pagamento   100000 non-null  object
 18  saldo_final_mes           100000 non-null  float64
 19  score_credito             100000 non-null  object
 20  emprestimo_carro          100000 non-null  int64
 21  emprestimo_casa           100000 non-null  int64
 22  emprestimo_pessoal        100000 non-null  int64
 23  emprestimo_credito        100000 non-null  int64
 24  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(14), int64(7), object(4)
memory usage: 19.1+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   id_cliente                100000 non-null  int64
 1   mes                       100000 non-null  int64
 2   idade                     100000 non-null  float64
 3   profissao                 100000 non-null  int64
 4   salario_anual             100000 non-null  float64
 5   num_contas                100000 non-null  float64
 6   num_cartoes               100000 non-null  float64
 7   juros_emprestimo          100000 non-null  float64
 8   num_emprestimos           100000 non-null  float64
 9   dias_atraso               100000 non-null  float64
 10  num_pagamentos_atrasados  100000 non-null  float64
 11  num_verificacoes_credito  100000 non-null  float64
 12  mix_credito               100000 non-null  int64
 13  divida_total              100000 non-null  float64
 14  taxa_uso_credito          100000 non-null  float64
 15  idade_historico_credito   100000 non-null  float64
 16  investimento_mensal       100000 non-null  float64
 17  comportamento_pagamento   100000 non-null  int64
 18  saldo_final_mes           100000 non-null  float64
 19  score_credito             100000 non-null  object
 20  emprestimo_carro          100000 non-null  int64
 21  emprestimo_casa           100000 non-null  int64
 22  emprestimo_pessoal        100000 non-null  int64
 23  emprestimo_credito        100000 non-null  int64
 24  emprestimo_estudantil     100000 non-null  int64
dtypes: float64(14), int64(10), object(1)
memory usage: 19.1+ MB

None

In [13]:
#y é quem eu quero prever
#x é quem eu vou usar pra fazer a previsao
y=table["score_credito"]
x=table.drop(columns=["score_credito","id_cliente"])



from sklearn.model_selection import train_test_split  #funcao pra dividir os dados e realizar treino

x_treino,x_test,y_treino,y_test=train_test_split(x,y,test_size=0.3)

In [14]:
#criar modelo de IA, arvore de decisao(randomforest), vizinhosproximos(nearest neighbors)

#importando IA
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier

#criando os modelos

modelo_arvore=RandomForestClassifier()
modelo_knn=KNeighborsClassifier()

#train AI
modelo_arvore.fit(x_treino, y_treino)
modelo_knn.fit(x_treino,y_treino)

#avaliar qual melhor modelo de IA
previsao_arvore=modelo_arvore.predict(x_test)
previsao_knn=modelo_knn.predict(x_test)


#acuracia, mostrar os acertos de cada
from sklearn.metrics import accuracy_score
display(accuracy_score(y_test, previsao_arvore))
display(accuracy_score(y_test, previsao_knn))



#foi definido que o modelo arvore é melhor
#fazer novas previsoes de acordo com novos clientes

table_newcli=pd.read_csv("novos_clientes.csv")
display(table_newcli)

table_newcli["profissao"]=codificador.fit_transform(table_newcli["profissao"]) #transf as profissoes em numeros

table_newcli["mix_credito"]=codificador2.fit_transform(table_newcli["mix_credito"])


table_newcli["comportamento_pagamento"]=codificador3.fit_transform(table_newcli["comportamento_pagamento"])

previsao=modelo_arvore.predict(table_newcli)

0.8280666666666666

0.7416666666666667

   mes  idade  ... emprestimo_credito  emprestimo_estudantil
0    1   31.0  ...                  0                      0
1    4   32.0  ...                  0                      1
2    2   48.0  ...                  1                      0

[3 rows x 23 columns]